.top-section {
    position: relative;
    overflow: hidden;
}

.centered-form {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 10px;
}
